.form-style {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: #244789;
    padding: 3em;
}

.table-style {
    background-color: #e2e2e2;
    color: #292929;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    th {
        padding: 1em;
    }
    td {
        padding: 1em;
    }
}

.icon-style {
    color: #868c93;
}