.table-style {
    background-color: #b4b7bc;
    color: #292929;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    th {
        padding: 1em;
    }
    td {
        padding: 1em;
    }
}

.icon-style {
    color: #868c93;
}